.button {
  width: 150px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.99);
}

.likeButtonActive {
  background: #32CD32;
}

.disLikeButtonActive {
  background: #FF0000;
}

.likeButton:hover {
    background: #90EE90;
}

.disLikeButton:hover {
    background: #FFB6C1;
}

